<nav class="main-menu">
  <ul>
    <li>
      <a href="#">
        <i class="fa fa-home fa-2x" style="font-size:17px;color:#5C6BC0"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-laptop fa-2x" style="font-size:17px;color:#4DB6AC"></i>
        <span class="nav-text">
          Nhóm quyền
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-list fa-2x" style="font-size:17px;color:#FBC02D"></i>
        <span class="nav-text">
          Quản lí danh mục
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-folder-open fa-2x" style="font-size:17px;color:#ef5350"></i>
        <span class="nav-text">
          Quản lí sản phẩm
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-bar-chart-o fa-2x" style="font-size:17px;color:#ff00f2"></i>
        <span class="nav-text">
          Thống kê
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-font fa-2x" style="font-size:17px;color:#7cea80"></i>
        <span class="nav-text">
          Typography and Icons
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-table fa-2x" style="font-size:17px;color:#897cea"></i>
        <span class="nav-text">
          Tables
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-map-marker fa-2x" style="font-size:17px;color:#9e3a29"></i>
        <span class="nav-text">
          Maps
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
          Documentation
        </span>
      </a>
    </li>
  </ul>
</nav>
